<html>
    <head>
        <link rel="stylesheet" href="css/nav.css">
        <link rel="stylesheet" href="css/about.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/footer.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
    </head>
    <body>
        <div class="nav">
            
            
            <ul class="navlinks">
                <li><a href="home" id="f"><span></span>Home</a></li>
                <li><a href="about" id="f2"><span></span>About Us</a></li>
                <li><a href="features" id="f3"><span></span>Features</a></li>
                <li><a href="download" id="f4"><span></span>Download</a></li>
            </ul>
        </div>
        <header>
            <div class="content">
                <div class="top">
                    <div class="left">
                        <div class="text">
                            <h1 class="title">About</h1><br>
                            <p class="hr">
                            <p class="para">
                                EnLight was initiated in January, 2020, when Amri Baba, the founder of EnLight shared with us his knowledge on interactiveness and the key features of learning, and what keeps one interested. We have built upon his principles ever since, incorporating them into our product, to provide our cutomers with quality service.
                            </p>
                            <p class="para2">
                                His teachings are what make our app especially interactive and immersive. “Learning is a process which occurs on both ends”, as he said, is still one of our main motives.                            </p>
                        </div>
                    </div>
                    <div class="right">
                        <img class="img" src="https://cdn.discordapp.com/attachments/430704906169614338/770721285809373184/unknown.png">
                    </div>
                </div>
                <div class="top">
                    <div class="left">
                        <img class="img" src="images/chai-02.png" id="img1">
                    </div>
                    <div class="right">
                    <div class="text">

                            <p class="para2">
                                EnLight was initiated in January, 2020, when Amri Baba, the founder of EnLight shared with us his knowledge on interactiveness and the key features of learning, and what keeps one interested. We have built upon his principles ever since, incorporating them into our product, to provide our cutomers with quality service.
                            </p>
                            <p class="para2">
                                His teachings are what make our app especially interactive and immersive. “Learning is a process which occurs on both ends”, as he said, is still one of our main motives.                            </p>
                        </div>
                    </div>
                    
                </div>
                
            </div class="content">
        </header>
        <footer>
            <div class="lefts">
                <div class="icons">
                    <p class="text">
                        Stay informed about updates and new features added to the app, through our socials.
                    </p>
                    <p class="icon">
                        <i class="fab fa-instagram" style="cursor: pointer;"></i>
                        <i class="fab fa-facebook" style="cursor: pointer;"></i>
                        <i class="fab fa-youtube" style="cursor: pointer;"></i>
                    </p>
                    <p class="text" style="margin-top: 1vh;">
                        Made with &lt;/3 by Code Warriors    
                    </p>
                </div>
            </div>
            <div class="rights">
                <div class="txt">
                    Powered by
                    <img class="chai" src="images/chai-02.png">
                </div>
            </div>
        </footer>
        <script src="https://kit.fontawesome.com/de36555f78.js" crossorigin="anonymous"></script>
    </body>
</html>
