<html>
    <head>
        <link rel="stylesheet" href="css/nav.css">
        <link rel="stylesheet" href="css/download.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/footer.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    </head>
    <body id="white">
        <div class="nav">
           
            <img class="logo" src="https://cdn.discordapp.com/attachments/430704906169614338/770691706441695282/moon_3.png" onclick="dark()" id="clicked">
        </img>
            <ul class="navlinks">
                <li><a href="home" id="nad"><span></span>Home</a></li>
                <li><a href="about" id="nab"><span></span>About Us</a></li>
                <li><a href="features" id="nac"><span></span>Features</a></li>
                <li><a href="download" id="naa"><span></span>Download</a></li>
            </ul>
        </div>
        <div class="onhead">
        <header>
            <div class="main" id="main">
                <div class="left">
                <h1 class="title">
                    
                    Download<br><span>our app
                    </span>
                </h1>
                <p class="para">
                    This is your chance to experience online sessions like never before.<br>
Get the desktop application now for free.
                </p>
                <img src="https://cdn.discordapp.com/attachments/430704906169614338/770730520891228203/Download-02.png" style="transform: scale(1.1);">
            </div>
            </div>
            <div class="sec">
                <div class="butt">
                    <a class="button">
                        <i class="fab fa-windows" style="cursor: pointer;"></i>
                        Windows</a>
                </div>
                <div class="butt" id="middle">
                    <a class="button">
                        <i class="fab fa-apple" style="cursor: pointer;"></i>
                        Macintosh </a>
                </div>
                <div class="butt">
                    <a class="button">
                        <i class="fab fa-linux" style="cursor: pointer;"></i>
                        
                        Linux</a>
                </div>
            </div>
        </header>
        </div>
        <footer>
            <div class="lefts">
                <div class="icons">
                    <p class="text">
                        Stay informed about updates and new features added to the app, through our socials.
                    </p>
                    <p class="icon">
                        <i class="fab fa-instagram" style="cursor: pointer;"></i>
                        <i class="fab fa-facebook" style="cursor: pointer;"></i>
                        <i class="fab fa-youtube" style="cursor: pointer;"></i>
                    </p>
                    <p class="text" style="margin-top: 1vh;">
                        Made with &lt;/3 by Code Warriors    
                    </p>
                </div>
            </div>
            <div class="rights">
                <div class="txt">
                    Powered by
                    <img class="chai" src="images/chai-02.png">
                </div>
            </div>
        </footer>
        <script src="https://kit.fontawesome.com/de36555f78.js" crossorigin="anonymous"></script>
        <script src="js/download.js"></script>
    </body>
</html>