<html>
    <head>
        <link rel="stylesheet" href="css/nav.css">
        <link rel="stylesheet" href="css/Features.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/footer.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    </head>
    <body>
        <div class="nav">
           

        </img>
            <ul class="navlinks">
                <li><a href="home"><span></span>Home</a></li>
                <li><a href="about"><span></span>About Us</a></li>
                <li><a href="features"><span></span>Features</a></li>
                <li><a href="download"><span></span>Download</a></li>
            </ul>
        </div>
        <header>
            <div class="content">
                <h1 class="title" id="title">Features</h1>
                <hr class="titlehr" id="titlehr">
                <p class="para" id="para">
                    A great chunk of time is wasted due to the shortcomings or inability of most platforms to deal with simple problems that hinder the continuity of the class, which is why we have introduced features that take care of the same.
                </p>
                <div class="features">
                    <h1 class="ftitle"><span>1. Noise Cancelling</span></h1>
                    <img src="https://media.discordapp.net/attachments/430704906169614338/770728764001746994/feat1.png?width=2155&height=1340" id="pic1">
                    <p class="desc">
                        There are often times when attendees unmute their mic only to make way for ear aching noise, mistakingly or not. In such occasions, the host CAN unmute the person, but it is already too late. The damage has already been done. To fix this, we have added a noise suppresion feature. If audio above 180 decibels is detected, the app automatically drops the volume of the user to 20 decibels.
                    </p>
                </div>
                <div class="features">
                    <h1 class="ftitle"><span>2. File bar</span></h1>
                    <img src="https://cdn.discordapp.com/attachments/430704906169614338/770728779240177675/Feat2.png" id="pic2">
                    <p class="desc">
                        There are often times when attendees unmute their mic only to make way for ear aching noise, mistakingly or not. In such occasions, the host CAN unmute the person, but it is already too late. The damage has already been done. To fix this, we have added a noise suppresion feature. If audio above 180 decibels is detected, the app automatically drops the volume of the user to 20 decibels.
                    </p>
                </div>
                <div class="features">
                    <h1 class="ftitle"><span>1. On screen polls</span></h1>
                    
                    <img src="https://cdn.discordapp.com/attachments/430704906169614338/770728767567691826/Untitled-5.png" id="pic3">
                    <p class="desc">
                        There are often times when attendees unmute their mic only to make way for ear aching noise, mistakingly or not. In such occasions, the host CAN unmute the person, but it is already too late. The damage has already been done. To fix this, we have added a noise suppresion feature. If audio above 180 decibels is detected, the app automatically drops the volume of the user to 20 decibels.
                    </p>
                </div>
            
            </div>
        </header>
        <footer>
            <div class="lefts">
                <div class="icons">
                    <p class="text">
                        Stay informed about updates and new features added to the app, through our socials.
                    </p>
                    <p class="icon">
                        <i class="fab fa-instagram" style="cursor: pointer;"></i>
                        <i class="fab fa-facebook" style="cursor: pointer;"></i>
                        <i class="fab fa-youtube" style="cursor: pointer;"></i>
                    </p>
                    <p class="text" style="margin-top: 1vh;">
                        Made with &lt;/3 by Code Warriors    
                    </p>
                </div>
            </div>
            <div class="rights">
                <div class="txt">
                    Powered by
                    <img class="chai" src="images/chai-02.png">
                </div>
            </div>
        </footer>
        <script src="https://kit.fontawesome.com/de36555f78.js" crossorigin="anonymous"></script>
        <script src="js/features.js"></script>
    </body>
</html>