<html>
    <head>
        <link rel="stylesheet" href="css/nav.css">
        <link rel="stylesheet" href="css/home.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/footer.css">
    </head>
    <body id="bg">
        <div class="nav">
            
            
            <ul class="navlinks">
                <li><a href="home" id="f"><span></span>Home</a></li>
                <li><a href="about" id="f2"><span></span>About Us</a></li>
                <li><a href="features" id="f3"><span></span>Features</a></li>
                <li><a href="download" id="f4"><span></span>Download</a></li>
            </ul>
        </div>
        <header>
            <div class="left">
                <div class="container">
                    <h1 class="title">Frustated of Online classes?</h1>
                    <hr>
                    <p class="description" id="top">
                        Enlight believies that education is much more of an interactive exerience rather than meaninglessly grinding information into one’s mind. There can bev no effective transfer of knowledge between a teacher and student with a lack of interest.

                    </p>
                    <p class="description" id="tops">
                        We provide the teachers with tools that can help the to make their sessions as interactive and immersive as we can.


                    </p>
                    <a>
                        Learn more
                    </a>
                </div>
            </div>
            <div class="right">
                <img class="himg" src="images/hometop-02.png">

            </div>
        </header>
        <section class="section2">
            <div class="left">
                
                    <img class="himg" src="images/homemid-02.png">
    
            </div>
            <div class="right">
                <div class="container">
                    <h1 class="title">An unprecedent experience</h1>
                    <hr>
                    <p class="description" id="top2">
                        Unlike many of the available platforms, we provide a neat and clean, pleasing and easy to use , user interface, which even small kids can learn to operate without much issues.


                    </p>
                    <p class="description" id="tops2">
                        This is  a prevalant problem with elderly people and those who are uncomfortable with technology, but u dont have to worry about that with EnLight.
                    </p>
                </div>
            </div>
        </section>
        <header>
            <div class="left">
                <div class="container">
                    <h1 class="title">Sick of laggy sessions?</h1>
                    <hr>
                    <p class="description" id="top3">
                        We have several servers around the world and have revised our connectivity sector time and again to 
present you with a smooth session without any 
frustrating lags.

                    </p>
                    <p class="description" id="tops3">
                        Being funded by Hi Chai, that recently has become very popular, we have the financial support to keep our connections speedy.


                    </p>
                    <a>
                        Download now
                    </a>
                </div>
            </div>
            <div class="right">
                <img class="himg" src="images/homebot-02.png">
            </div>
        </header>
        <footer>
            <div class="lefts">
                <div class="icons">
                    <p class="text">
                        Stay informed about updates and new features added to the app, through our socials.
                    </p>
                    <p class="icon">
                        <i class="fab fa-instagram" style="cursor: pointer;"></i>
                        <i class="fab fa-facebook" style="cursor: pointer;"></i>
                        <i class="fab fa-youtube" style="cursor: pointer;"></i>
                    </p>
                    <p class="text" style="margin-top: 1vh;">
                        Made with &lt;/3 by Code Warriors    
                    </p>
                </div>
            </div>
            <div class="rights">
                <div class="txt">
                    Powered by
                    <img class="chai" src="images/chai-02.png">
                </div>
            </div>
        </footer>
    <script src="/js/home.js"></script>
    <script src="https://kit.fontawesome.com/de36555f78.js" crossorigin="anonymous"></script>
    </body>
</html>