footer{
    width: 100vw;
    height: 45vh;
    background-color: #989CD7;
    position: relative;
}
.lefts{
    width: 70%;
    float: left;
    position: relative;
}
.rights{
    width: 30%;
    float: right;
    height: 70%;
    position: relative;
    top:22.5vh;
    transform: translateY(-50%);
    border-left:1px solid white;
}
.icons{
    width: 24vw;
    position: absolute;
    top:22.5vh;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 0;
}
.text{
    font-family: roboto;
    color:white;
    text-align: center;
}
.icon{
    display: inline-block;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 2em;
    text-align: center;
    color: white;
    word-spacing: 2vw;
}
.txt{
    position: relative;
    text-align: center;
    color:White;
    font-family: roboto;
    top:50%;
    left:50%;
    transform: translate(-50%,  -50%);
    font-size: 1.1em;
}
.chai{
    width: 5em;
    display: block;
    position: relative;
    left:50%;
    transform: translateX(-50%);
}